
.like-btn, .dislike-btn {
  font-size: 22px;
}

.is-liked {
  color: blue;
}

.is-disliked {
  color: red;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: end;
  text-align: center;
}

.icon-item {
  width: 50%;
}

.like-container {
  display: flex;
  align-items: center;
}

.like-container, span {
  margin-left: 5%;
}