<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Marvel Comic Viewer
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let comic of comics" size="6" class="card-container">
        <app-card [comic]="comic" class="card-container" (handleParent)="likeDislike($event)"></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>